@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 15px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #ffff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #5d5d5d;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2d2d2d;
}